@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>My Invoices Management System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MyIMS</h2>
        <p>
            MyIMS is a sample application to Manage Invoices. 
            The Scope of the project is use the following technologies: Entity Framework Core in an
            ASP.NET Core 2.1 Razor Pages web app and GitHub.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mr. D Vélez (E.B)</h2>
        <p>See my LinkedIn....</p>
        <p>
            <a class="btn btn-default"
               href="https://www.linkedin.com/in/dennisvelezgonzalez/">
                See the WebPage &raquo;
            </a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mr. M. Hernández (E.M)</h2>
        <p>See my LinkedIn.</p>
        <p>
            <a class="btn btn-default"
               href="https://www.linkedin.com/in/mhaltiery/">
                See the WebPage &raquo;
            </a>
        </p>
    </div>
</div>